export("betaCvMfit")
export("disturber")
export("FastTau")
export("FastS")
export("lc_noise")
export("RobPer")
export("sampler")
export("signalgen")
export("TK95")
export("TK95_uneq")
export("tsgen")
export("Xgen")
importFrom(quantreg, rq)
importFrom(robustbase, ltsReg)
importFrom(splines, spline.des)
importFrom(BB, BBsolve)
importFrom(rgenoud, genoud)
   
#import(quantreg)
#import(robustbase)
#import(splines)
#import(rgenoud)
#import(BB)         
