export("betaCvMfit")
export("disturber")
export("FastTau")
export("FastS")
export("lc_noise")
export("RobPer")
export("sampler")
export("signalgen")
export("TK95")
export("TK95_uneq")
export("tsgen")
export("Xgen")
importFrom(quantreg, rq)
importFrom(robustbase, ltsReg, lmrob..M..fit, lmrob.control)
importFrom(splines, spline.des)
importFrom(BB, BBsolve)
importFrom(rgenoud, genoud)
importFrom(stats, complete.cases, dnorm, fft, lm, mad, median, optim, pbeta, quantile, rgamma, rnorm, runif, sd, var)